h1{
    color: rgb(255, 119, 0);
    text-align: center;
}
h2{
    color: red;
    text-align:center;

}
body{
    background-color:rgb(3, 252, 119);
    background-image:c;
    

    
}

button{
    color: blue;
    background-color: chartreuse;
    border: red;
    width: 100px;
    height: 100px;

    
}
h1{
    background-color: blue;
color: white;
border: red;
border-width: 200px;
width: 300px;

height: 100px;
display: flex;
display: inline;

}


.css-iyb8y2 {
    color: red;
    font-size: 16px;
    /* Other styles go here */
  }
  <br>
  

  #navbar{
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: rgb(217, 174, 174);
    color: rgb(41, 21, 217);
    font-size: 10px;
     
    display: inline;
    



  }
  
  button{
    height: 20px;
    width: 50px;
    background-color:rgb(225, 140, 80);
    border-radius: 5px;
    text-align: center;
    
    

  }
  #Logo{
    color: yellow;
  }
  a{
    margin-right: 200px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    text-align: center;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
  }

  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containt{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vmin;

  }


  .boxes{
    width: 80vmin;
    height: 80vmin;
    gap: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vmin;

    
  }
  .box{
    width: 25vmin;
    height: 25vmin;

    cursor: pointer;
    
    background-color: blueviolet;
    font-size: 100px;
   
  }
  .hide{
    background-color: cornflowerblue;
    border-radius: 20px;
    color: brown;
  }
.hide1{
  background-color: aqua;
  border-radius: 20px;
  color: rgb(92, 32, 151);
  
}
#navbar{
  background-color: rgb(230, 139, 20);
  height: 50px;
  text-align: center;
  
}

    
    
    
  
  
    
   
    
    
   


  
  

  

  
  